{% extends 'base.html' %}
{% block title %}Set password{% endblock title %}
{% block content %}

<div class="card bg-light p-5">

    {% for message in messages %}

    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
    </div>

    {% endfor %}

    <h3 class="text-dark">Set New Password</h3>

    <form action="{% url 'set-new-password' uidb64 token %}" method="post">{% csrf_token %}
        <br>

        <label for="pass1">Password</label>
        <div class="form-group">
            <input class="form-control" id="pass1" name="pass1" required type="password">
        </div>

        <label for="pass2">Confirm Password</label>
        <div class="form-group">
            <input class="form-control" id="pass2" name="pass2" required type="password">
        </div>

        <br>
        <br>
        <button class="btn btn-success" type="submit">Submit</button>

        <hr>
        <a href="{% url 'handlelogin' %}">Go back?</a>
        <br>

        <br>

    </form>
</div>

{% endblock content %}
